<article class="listing">
  <h3>{{#link-to "zines.show" zine}}{{zine.title}} <span>{{zine.sub_title}}</span>{{/link-to}}</h3>
  <div>
      <span><b>Creator:</b></span> {{zine.creator}}
  </div>
  <div class="">
      <span>Libraries:</span> {{zine.library_id}}
  </div>

</article>
{{yield}}
