<div class="listing">
<article class="listing-cell">

  <ul class="zine-metadata">
      <div class="photo-placeholder">
        Zine Cover
      </div>

      <h4 class="zine-headings">{{#link-to "zines.show" zine}}{{zine.title}}{{#if zine.sub_title}} : {{zine.sub_title}}{{/if}}{{/link-to}}</h4>
      <li><b>Creator: </b> {{zine.creator}}</li>
      <li><b>Subject/Genre: </b> {{zine.subject_genre}}</li>
      <li><b>Content tags: </b>  {{zine.tags}}</li>


  </ul>
  </article>
</div>
{{yield}}
