<form>
<h1>Edit {{model.name}}</h1>


Name: {{input value=model.name }}
City: {{input value=model.city }}
State: {{input value=model.state }}

<button type="submit" class="button" {{action 'saveLibrary' model}}>Save me </button>
</form>

{{outlet}}
