<form {{action 'save' on="submit"}}>
<h1>Edit {{model.name}}</h1>


Name: {{input value=model.name}}
City: {{input value=model.city}}
State: {{input value=model.state}}

<button type="submit">Save me </button>
</form>
{{outlet}}
