<form method="put">
<h1>Edit {{model.name}}</h1>

Name:{{input value=model.name }}
City: {{input value=model.city }}
State: {{input value=model.state }}
photo: {{input value=model.photo}}

<button type="submit" class="button" method="put" {{action 'saveLibrary' model}} >Save</button>
</form>

{{outlet}}
