<h1>{{model.name}}</h1>
<p>{{model.description  }}</p>
<ul>
  <li>Location: {{model.city}}, <span> State: {{model.state}} </span>
  </li>
</ul>
{{#link-to 'libraries.edit' model.id}}Edit Library Info for {{model.name}}  {{/link-to}}

{{outlet}}
