<article class="small-11 small-centered columns">


<h1>{{model.name}}</h1>
<img src={{model.photo}} class="library-photo"/>

<p>{{model.description}}</p>
<ul>
  <li>Location: {{model.city}},  {{model.state}}
  </li>
  <li>Zines available for Circulation?:
    {{#if model.circulation}}
        No, but collection open to the public
    {{/if}}
  </li>
  <li>Website: {{model.url}}</li>
</ul>
{{#link-to 'libraries.edit' model.id}}Edit Library Information for {{model.name}}  {{/link-to}}
</article>
{{outlet}}
