<article class="row">

<section class="show-listing small-2 large-5 columns">
  <h2 class="title">{{model.title}} {{model.subtitle}}</h2>
  <img src={{model.photo}}/>
<ul class="zine-metadata">
    <li><strong>Creator:</strong> {{model.creator}}</li>
    {{#if model.contributor}}
    <li>Contributors: {{ model.contributor}}</li>
      {{/if}}


    <li>Subject/Genre: {{model.subject_genre}}</li>

    <li>Date: {{model.date}} </li>

    <li>Place of Publication: {{model.place_of_publication}}</li>

    <li>Volume: {{model.volume}} <span>Number: {{model.number}}</span></li>

    <li> Tags: {{model.tags}} </li>
</ul>
</section>

<section class="associated-library offset-1 small-2 large-3 large-offset-2 columns end">
  <h2>Associated Library</h2>
  <p>Library Info goes here</p>
</section>

</article>
{{outlet}}
